<div class="page-header">
  <%= link_to form_submissions_path, class: 'btn btn-default' do %>
    All Form_submissions
  <% end %>
  <%= link_to edit_form_submission_path(@form_submission), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Submitted Form: <%= @form_submission.form.name %></h1>
</div>

<%= render @form_submission %>